@model IEnumerable<kidzkonnect2._0.Models.UtilisateurEtActivites>
<!-- Définition de la page -->
@{
    ViewData["Title"] = "Friends' Activities";
}

<!-- Styles CSS -->
<style>
    /* Styles additionnels pour le conteneur flex */
    .activities-flex-container {
        display: flex;
        justify-content: space-around; /* Alignement des éléments sur l'axe principal */
        flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    }

    .activity-box {
        flex-basis: 30%; /* Largeur de chaque boîte, ajuster selon les besoins */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px; /* Bordure arrondie */
        margin: 10px;
        background-color: #E9E8E9;
    }

        .activity-box:hover {
            box-shadow: 0 12px 20px 0 rgba(0,0,0,0.4); /* Effet de hover accentué */
            transform: translateY(-5px); /* Décalage vers le haut */
        }

    .btn-details {
        background-color: #F6821B;
        color: white;
        margin-top: 10px; /* To ensure some spacing from the text above */
        width: 100%; /* Make the button expand to the width of its container */
    }
</style>

<h3 class="title">Friends' Activities</h3>

@if (Model != null && Model.Any())
{
    <div class="activities-flex-container text-center mx-auto">
        @foreach (var utilisateurEtActivites in Model)
        {
            @foreach (var activity in utilisateurEtActivites.Activites)
            {
                <div class="activity-box">
                    <img class="card-img-top" src="@Url.Content("~/images/activity4.jpg")" alt="Activity Image" style="width:100%; border-radius:5px 5px 0 0; max-height:200px; object-fit:cover;">
                    <h5 class="mt-4">@activity.TitreActivite</h5>
                    <p>By: @activity.IdUtilisateurCreateurNavigation.Prenom @activity.IdUtilisateurCreateurNavigation.Nom</p>
                    <p>@activity.DescriptionActivite</p>
                    <p>Date: @(activity.DateActivite.HasValue ? activity.DateActivite.Value.ToString("yyyy-MM-dd HH:mm") : "Not specified")</p>
                    <p>Location: @activity.Emplacement</p>
                    <p>Additional Details: @activity.DetailsAdditionnel</p>
                    <a asp-controller="Activites" asp-action="Details" asp-route-id="@activity.IdActivite" class="btn btn-details">Details</a>
                </div>
            }
        }
    </div>
}
else
{
    <h5 class="text-center my-5">No activities found.</h5>
}
