@model List<ProfileWithKonnection>

<!-- Styles CSS -->
<style>
    /* Styles additionnels pour le conteneur flex */
    .activities-flex-container {
        display: flex;
        justify-content: space-around; /* Alignement des éléments sur l'axe principal */
        flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    }

    .activity-box {
        flex-basis: 120%; /* Augmentez cette valeur pour augmenter la largeur des boîtes */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 10px; /* Bordure arrondie */
        width: 100%;
        background-color: #E9E8E9;
    }

        .activity-box:hover {
            box-shadow: 0 12px 20px 0 rgba(0,0,0,0.4); /* Effet de hover accentué */
            transform: translateY(-5px); /* Décalage vers le haut */
        }

    /* Ajuster la taille de l'image pour la disposition en trois colonnes */
    .img-fixed-height {
        height: 200px; /* Ajuster la hauteur selon les besoins */
        object-fit: cover;
        width: 100%; /* Assurer que l'image couvre toute la largeur */
        border-top-left-radius: 10px; /* Arrondir le coin supérieur gauche */
        border-top-right-radius: 10px; /* Arrondir le coin supérieur droit */
    }

    .btn-orange {
        background-color: #F6821B;
        color: white;
    }
</style>

<!-- Titre de la page -->
<h3 class="title">Friends</h3>

<!-- Informations des enfants -->
@if (ViewBag.ProfilesWithConnections != null)
{
    <div class="row">
        @foreach (var item in ViewBag.ProfilesWithConnections)
        {
            var profile = item.Profile;
            var idDemande = item.IdDemande;

            <div class="col-md-4 activities-flex-container">
                <div class="card activity-box">
                    <div class="card-body mx-auto text-center">
                        <img class="card-img-top img-fixed-height" src="/images/activity1.jpg" alt="Wanna be friends?">
                        <h5 class="card-title mt-4 mb-4">@profile.Prenom @profile.Nom</h5>
                        <!-- Add other profile information as needed -->
                        <div class="btn-group" role="group" aria-label="Profile Actions">
                            <a asp-controller="ProfilEnfants" asp-action="FriendsDetails" asp-route-id="@profile.IdUtilisateur" class="btn btn-primary">Details</a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Profile Actions">
                            <a href="@Url.Action("Chat", "Messages", new { idDemande = idDemande })" class="btn btn-orange">Messages</a>
                        </div>
                        <div class="btn-group">
                            <form asp-controller="ProfilEnfants" asp-action="Unkonnect" method="post">
                                <input type="hidden" name="idProfil" value="@profile.IdProfil" />
                                <button type="submit" class="btn btn-danger">Unkonnect</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h5 class="text-center my-5">No friends found.</h5>
}